<h1>All About Me</h1>

<%= image_tag "dinner copy.JPG",  class: "author-pic" %>


<blockquote>
  Personal Quirk 1: I have been married to my wonderful wife and best friend, Allison for 5 years. We have been together since we were 16 (16 years, crazy I know!). We are both from Omaha, Nebraska and went to the same High School. We moved to Chicago in 2011 for job opportunities and have never looked back. We love walking our puppy around Wicker park and catching live music whenever we can. 
</blockquote>

<blockquote>
  Personal Quirk 2: I've seen way to many concerts (close to 1000). I spent a lot my free time in my younger years traveling around the country following a few bands. For example, I've seen the band Widespread Panic 92 times. I have seen 19 concerts at Red Rocks alone. Ridiculous, I know. I'm a music nerd! I record setlists, tour notes, and fun stories that happen on every music road trip. 
</blockquote>


<blockquote>
  True Story: I provided trade support and education to clients and investors at a large brokerage firm for many years. I became intrigued with the engineering and product teams that brought cutting edge technology to traders. After observing how technology could drive positive change in peoples lives, I realized I wanted to be an engineer. I worked as a PM for a healthcare startup for about a year before applying to Dev Bootcamp. It was one of the best decisions I have ever made. I graduated in December 2017. 
</blockquote>

<blockquote>
  Post Grad Activity: I have three solid post-graduation projects (Two Rails apps, one Node/Express.js). Each new application I work on, I try to challenge myself and try new things (Gems, technologies, frameworks, whatever looks cool). The most recent application intergrated a stock quote data feed and displayed real time prices for securities. I also included a game in the app that would allow users to compete against me on picking stocks. Continued education is very important to me, so I have also been spending time completeing courses like Wes Bos's React for Beginners and ES6 for everyone.
</blockquote>
