<h1 id="process-header">The Process</h1>

<div class="intro">
    <strong >Hello DevMynd!</strong>
  <section><br>
    <p id="intro" >
       I wanted to start off my saying thank you! This was a wonderful coding challenge that I very much enjoyed. I choose to write a Rails application to complete this assignment. I can honestly say I was stretched/challenged in many ways while developing this application. It felt great to work through the countless errors while learning new tips and techniques along the way. I focused on scalabilty, practicing solid OOP principles, and meeting core sytem requirements. Below is a brief overview of my process. I hope you enjoy reviewing it. I look forward to talking it through with the amazing people that you have on the team!
    </p>
  </section>
</div><br>



<strong>Models: (Visual Schema Available in App Directory):</strong>
  <ul>
    <dt>User</dt>
    <dt>Character</dt>
    <dt>DamageReport</dt>
    <dt>Weapon</dt>
    <dt>Attack</dt>
    <dt>Attribute</dt>
    <dt>FighterClass</dt>
  </ul><br>



<strong>Technologies Used:</strong><br>
  <ul>
    <dt>Ruby on Rails</dt>
    <dt>PostgreSQL</dt>
    <dt>Bootstrap Framework</dt>
    <dt>Jquery</dt>
    <dt>SASS</dt>
  </ul><br>

  <strong>Toughest Challenges Faced:</strong><br>
  <ul>
    <dt>Algorithms for Weapon/Attack Combos (Also the most fun part!).</dt>
    <dt>Data Modeling - Setting the application up for success in the future</dt>
    <dt>Naming Collisions with keywords (Attribute)</dt>
    <dt>Deciding when to stop adding new features vs fine tuning current ones</dt>
    <dt>Time Management (This was a big project)</dt>    
  </ul><br>

<strong><%= link_to "Trello Story Cards", "https://trello.com/" %></strong><br>
   <p>Email: mitchmele@gmail.com <br>
      Password: devmynd1</p>


