
<div class="center jumbotron">
  <h1>Welcome to the CopyCat Armory</h1>

  <h2>
    This is an application where game developers can 
    mix and match character weapons and attacks to predict potential damages
  </h2>

  <%= link_to "Register for The CopyCat Armory", new_user_path , class: "btn btn-lg btn-primary" %>
</div>

