<h1>All The Attributes</h1>

<%= link_to "Create New Attribute", new_attribute_path, class: "center" %>


<div class="characters-box">
 <ul>
      <% @attributes.each do |attribute|  %>
      <li>
        Attribute Name:<p id="char-name"><%= attribute.attr_name %></p>         
        <%= link_to "Delete", attribute_path(attribute.id), method: :delete, class: "btn-primary btn-xs" %>
      </li>
    <% end %>
 </ul>
</div>