<h1>Damage Reports Directory</h1>

<%= link_to "Create New Damage Report", new_damage_report_path, class: "btn-primary btn-xs" %>

<h2>Results:</h2>


<div class="table-display">
  <%= ToTable(last_damage_report_table,"table").html_safe %>
</div>

<%# Each attack has its own damage report object. In a future implementation, I would like to add a feature that makes every damage report clickable with a link to a show page. Additional anaylitics or adjustments could be made there.  %>


<h2>All Damage Reports</h2>

<div class="table-display">
  <%= ToTable(all_damage_reports_table,"table").html_safe %>
</div>