@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  /* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  /* header */

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    font-family: 'Nanum Myeongjo', serif;  
  }
  
  #logo:hover {
    color: #fff;
    text-decoration: none;
  }

  /* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  footer a {
    color: #555;
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
  }
  
  footer ul li {
    float: left;
    margin-left: 15px;
  }

  /* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#jumbotron-header2{
  font-size: 1.7em;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  letter-spacing: 2px;  
}

#jumbotron-header1{
  font-size: 3.0em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  letter-spacing: 2px; 
}

.characters-box ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.characters-box li {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding: 25px;
  width: 300px;
  margin-top: 70px;
  margin-right: 10px;
  margin-left: 10px;
}

.characters-box li p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
}

#char-name {
  font-size: 2em;
  letter-spacing: 2px;
  font-family: 'Nanum Myeongjo', serif;
}

.center {
  display: flex;
  justify-content: center;
}


.attacks-box ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.attacks-box li { 
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  padding: 25px;
  width: 300px;
  margin-top: 70px;
  margin-right: 10px;
  margin-left: 10px;
}

.attacks-box li p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
}